/* App.css */
.App {
  margin-top: 50px;
  align-items: center !important ;
}

form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  background-color: #c9c7c7;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  width: calc(100% - 16px); 
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

